.App{
  background-image: url('./assets/ood-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
header{
  background-color: rgba(0, 0, 0, 0.616);
}
footer{
  background-color: rgba(0, 0, 0, 0.616);
}